<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Siempre juntos</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link rel="icon" type="image/png" href="./assets/img/favicon.png">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css">

</head>

<body>

  {{> partials/header }}

  <div class="container-fluid">

    <div class="row" id="About">
      <div class="col-md-6 px-0">
        <img src="" alt="Chocorina" class="img-fluid animateObserver" data-lazy="./assets/img/start.jpeg">
      </div>
      <div class="col-md-6 box-light">
        <h2 class="title-default">Nuestro inicio
          <i class="fas fa-heartbeat"></i>
        </h2>
        <h3 id="RelationDate" class="text-capitalize"></h3>
        <p class="text-justify">
          Mírame, mírame
          Quiéreme, quiéreme
          Bésame morenita
          Que me estoy muriendo
          Por esa boquita
          Tan jugosa y fresca
          Tan coloradita
          Como una manzana
          Dulce y madurita
        </p>
        <a class="btn btn-default" onclick="playSong(event)" data-name="morenita">Mi morenita</a>
      </div>
    </div>

    <div class="row box-demon" id="PhraseOne">
      <div class="col-sm-8 offset-sm-2">
        <h2 class="title-default disanimate prueba"><b>Hermosa</b> Karina</h2><span>Eres mi alma preciosa</span>
        <div class="my-slider phrase"></div>
        <a class="btn btn-link" onclick="playSong(event)" data-name="sone">Pensando en tí</a>
      </div>
    </div>

    <div class="box-demon row" id="Months">
      <div class="col-lg-8 offset-lg-2">
        <h2 class="title-default">
          Por los <b id="relationTime"></b> maravillosos meses que tenemos juntos<br>
          Y todos los que nos <b>esperan.</b></h2>
        <div class="companies"></div>
      </div>
    </div>

    <div class="row box-demon" id="Phrase2">
      <div class="col-md-6 col-lg-12">
        <div class="content">
          <h2>Para ti mi hermosa<i>novia</i></h2>
          <p>
            Todas las estrellas de la galaxia nunca <br>
            podrían eclipsar mi amor por ti. <br>
            Una vida de amaneceres nunca podría <br>
            compararse con la luz que traes a mi vida
          </p>
          <a class="btn btn-link mt-3" onclick="playSong(event)" data-name="malaguena">Bonitos ojos</a>
        </div>
      </div>
    </div>

    <div class="row box-demon" id="Plans">
      <div class="col-xs-12 col-lg-6">
        <div class="services">
          <div class="item">
            <h3><b>Nuestra lista</b></h3>
            <p>Aquí va nuestra historia</p>
            <div class="form-group">
              <input type="text" class="form-control" id="new-task" placeholder="Agrega nuevo plan">
            </div>
            <ul id="todo-list"></ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        {{> partials/slider }}
      </div>
    </div>

    {{!-- <div class="row" id="Contact">
      <div class="col-md-8 offset-md-2">
        <h2 class="title-default"><b>¡Quotation </b>Now!</h2>
        <form action="" class="row mt-5">
          <div class="form-group col-sm-5 offset-sm-1 col-md-4 offset-md-2">

            <input type="text" class="form-control" placeholder="Name" autocomplete="off" data-validate-field="name"
              name="name">
          </div>
          <div class="form-group col-sm-5 col-md-4">
            <input type="email" class="form-control" placeholder="Mail" autocomplete="off" data-validate-field="email"
              name="email">
          </div>
          <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            <input type="phone" class="form-control" placeholder="Phone" autocomplete="off" data-validate-field="phone"
              name="phone">
          </div>
          <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            <input type="text" class="form-control" placeholder="Your company" autocomplete="off"
              data-validate-field="company" name="company">
          </div>
          <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            <textarea class="form-control" name="idea" id="idea" cols="30" rows="5" autocomplete="off"
              data-validate-field="idea" id="idea" placeholder="Tell us your idea"></textarea>
          </div>
          <div class="form-group col-sm-12 text-center">
            <button class="btn btn-default">Start it! </button>
          </div>
        </form>
      </div>
    </div> --}}

  </div>


  {{> partials/footer }}

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script>
    const swiper = new Swiper(".swiper", {
      autoplay: true,
      effect: "cube",
      grabCursor: true,
      cubeEffect: {
        shadow: false,
        slideShadows: false,
      }
    });

  </script>

</body>

</html>