<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>White Cloud | Around The Globe</title>
  <meta name="description" content="We are making awesome websites and mobil applications">
  <meta name="keywords" content="wordpress, web sites, wix, e-commerce, shopify, prestashop, web store, web page,
            tienda virtual, domain web, android studio, app, native applications, admin panel, coporatives emails, ">
  <link rel="icon" type="image/png" href="./assets/img/white-cloud-favicon.png">
</head>

<body>

  {{> partials/header }}

  <div class="container-fluid">
    <div class="row box-demon" id="About">
      <div class="col-sm-8 offset-sm-2">
        <h2 class="title-default disanimate prueba"><b>White </b>Cloud</h2><span>Around the globe</span>
        <p>
          We focus in the present. We're thinking in the future and learning of the past.
        </p>
        <a class="btn btn-link item-menu" href="#Services">What we do?</a>
      </div>
    </div>
    <div class="row box-light" id="Services">
      <div class="col-md-12">
        <h2 class="title-default"><b>Connect </b>people, <b>innovate </b>your way. <br><b>Optimize </b>resources.</h2>
        <div class="technologies" data-animation="slideInLeft">
          <div class="item" data-animation="pulse">
            <img src="" alt="WhiteCloud Corporate Website" class="img-fluid animateObserver"
              data-lazy="./assets/img/white-cloud-corporate-site.png">
            <p class="title">Corporate Website</p>
          </div>
          <div class="item" data-animation="pulse">
            <img src="" alt="WhiteCloud Admin Website" class="img-fluid animateObserver"
              data-lazy="./assets/img/white-cloud-admin-site.png">
            <p class="title">Admin Website</p>
          </div>
          <div class="item" data-animation="pulse">
            <img src="" alt="WhiteCloud E-commerce Website" class="img-fluid animateObserver"
              data-lazy="./assets/img/white-cloud-ecommerce-site.png">
            <p class="title">E-commerce</p>
          </div>
        </div>
        <div class="technologies" data-animation="slideInRight">
          <div class="item" data-animation="pulse">
            <img src="" alt="WhiteCloud Native Applications" class="img-fluid animateObserver"
              data-lazy="./assets/img/white-cloud-native-application.png">
            <p class="title">Native Applications</p>
          </div>
          <div class="item" data-animation="pulse">
            <img src="" alt="WhiteCloud Hybrid Applications" class="img-fluid animateObserver"
              data-lazy="./assets/img/white-cloud-hybrid-application.png">
            <p class="title">Hybrid Applications</p>
          </div>
          <div class="item" data-animation="pulse">
            <img src="" alt="WhiteCloud Custom Applications" class="img-fluid animateObserver"
              data-lazy="./assets/img/white-cloud-custom-application.png">
            <p class="title">Custom Applications</p>
          </div>
        </div><a class="btn btn-default click-it" href="#" data-item="web">Web Development</a><a
          class="btn btn-default click-it" href="#" data-item="mobil">Mobil Applications</a>
      </div>
    </div>
    <div class="row box-demon" id="Globe">
      <div class="col-md-6 col-lg-4 offset-lg-2">
        <div class="content">
          <h2>Around The Globe<i>Soon latam and U.S</i></h2>
          <p>
            We offer solutions at time.
            Just wait for us.
            We eager to hear you.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 globe-img">
        <img src="" alt="WhiteCloud Around The Globe" class="img-fluid animateObserver"
          data-lazy="./assets/img/white-cloud-globe.png">
      </div>
    </div>
    <div class="row box-demon">
      <div class="col-sm-12 text-center mb-5"><a class="btn btn-link item-menu" href="#StudyCases">Study Cases</a></div>
    </div>
    <div class="box-light row" id="StudyCases">
      <div class="col-lg-8 offset-lg-2">
        <h2 class="title-default">
          We build <b>experiences</b> for your company.<br>
          For all different <b>Study Cases.</b></h2>
        <div class="companies">
          <div class="item">
            <h3>Restaurants</h3>
            <img src="" alt="WhiteCloud Study Cases" class="img-fluid animateObserver"
              data-lazy="./assets/img/white-cloud-restaurant.jpg">
            <p>¡You can offer a revolutionary service!</p>
          </div>
          <div class="item">
            <h3>Clothing Shop</h3>
            <img src="" alt="WhiteCloud Study Cases" class="img-fluid animateObserver"
              data-lazy="./assets/img/white-cloud-shop.jpg">
            <p>¡You can offer a revolutionary service!</p>
          </div>
          <div class="item">
            <h3>Finance Managment</h3>
            <img src="" alt="WhiteCloud Study Cases" class="img-fluid animateObserver"
              data-lazy="./assets/img/white-cloud-finance.jpg">
            <p>¡You can offer a revolutionary service!</p>
          </div>
          <div class="item">
            <h3>Architecture</h3>
            <img src="" alt="WhiteCloud Study Cases" class="img-fluid animateObserver"
              data-lazy="./assets/img/white-cloud-architect.jpg">
            <p>¡You can offer a revolutionary service!</p>
          </div>
          <div class="item">
            <h3>Hotels</h3>
            <img src="" alt="WhiteCloud Study Cases" class="img-fluid animateObserver"
              data-lazy="./assets/img/white-cloud-hotel.jpg">
            <p>¡You can offer a revolutionary service!</p>
          </div>
          <div class="item">
            <h3>Museum</h3>
            <img src="" alt="WhiteCloud Study Cases" class="animateObserver"
              data-lazy="./assets/img/white-cloud-museum.jpg">
            <p>¡You can offer a revolutionary service!</p>
          </div>
        </div><a class="btn btn-default item-menu" href="#Plans">¡Get your plan!</a>
      </div>
    </div>
    <div class="row box-demon" id="Plans">
      <div class="col-xs-12 col-lg-8 offset-lg-2">
        <h2 class="title-default"><b>Plans </b>for your company</h2>
        <div class="services">
          <div class="item">
            <h3><b>Website</b></h3>
            <p>Unique websites in your company</p>
            <ul>
              <li>Landing Page<i class="fas fa-check"></i></li>
              <li>Corporate Website<i class="fas fa-check"></i></li>
              <li>Advance Website<i class="fas fa-check"></i></li>
              <li>Product Catalog<i class="fas fa-check"></i></li>
              <li>Online Store<i class="fas fa-check"></i></li>
            </ul>
            <div class="logo">
              <img src="./assets/img/white-cloud-imagotipo.png" alt="'WhiteCloud Imagotipos" class="img-fluid">
            </div>
            <a class="btn btn-primary item-menu" href="#Contact">Get it Now!</a>
          </div>
          <div class="item">
            <h3><b>Mobil Apps</b></h3>
            <p>Unique mobile apps in your company</p>
            <ul>
              <li>Native Applications<i class="fas fa-check"></i></li>
              <li>Hybrid Applications<i class="fas fa-check"></i></li>
              <li>Custom Applications<i class="fas fa-check"></i></li>
              <li>Multiplatform Applications<i class="fas fa-check"></i></li>
            </ul>
            <div class="logo">
              <img src="./assets/img/white-cloud-imagotipo.png" alt="'WhiteCloud Imagotipos" class="img-fluid">
            </div>
            <a class="btn btn-primary item-menu" href="#Contact">Get it Now!</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="Location">
      <div class="col-md-6 px-0">
        <img src="" alt="'WhiteCloud Globe" class="img-fluid animateObserver"
          data-lazy="./assets/img/white-cloud-globe.jpg">
      </div>
      <div class="col-md-6 box-light">
        <h2 class="title-default">Contact Us</h2>
        <a href="mailto:sales@whitecloud.tech">sales@whitecloud.tech</a>
        <img src="" alt="'WhiteCloud HeadQuarters" class="img-fluid animateObserver"
          data-lazy="./assets/img/white-cloud-headquarters.png">
        <span>Guadalajara, Jalisco. México</span>
      </div>
    </div>
    {{> partials/register }}
  </div>
  </div>


  {{> partials/footer }}

</body>

</html>