<footer class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <img class="footer-logo" src="" alt="White Cloud Logo"
                data-animation="heartBeat" data-lazy="./assets/img/white-cloud-imagotipo.png">
            <p class="pt-3">
                White Cloud © 2019. | All rights reserverd.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>More services of WhiteCloud...</p>
        </div>
        <div class="col-sm-6">
            <a href="">Terms and conditions</a>
            <a href="">Advice of privacy</a>
        </div>
    </div>
</footer>