<footer class="container-fluid">
    <div class="row box-light">
        <div class="col-sm-12">
            <i class="fas fa-heart"></i>
            <p class="">
                Por una vida juntos | Te amo
            </p>
            <p>Leo Gonzalez</p>
        </div>
    </div>
</footer>