<a class="scroll-button" href="#"><i class="fas fa-angle-double-up"></i></a>
<header class="Header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 menu">
                <a class="d-block" href="#">
                    <img src="./assets/img/white-cloud-isologotipo.png" alt="White Cloud Logo" class="img-fluid">
                </a>
                <a id="btn-menu" href="#"><i class="fas fa-bars"></i></a>
                <ul class="list-inline" id="drop-menu">
                    <li class="list-inline-item"><a class="item-menu" href="#About">About Us</a></li>
                    <li class="list-inline-item"><a class="item-menu" href="#Services">Our Services</a></li>
                    <li class="list-inline-item"><a class="item-menu" href="#StudyCases">Study Cases</a></li>
                    <li class="list-inline-item"><a class="item-menu" href="#Contact">Contact</a></li>
                    <li class="list-inline-item"><a class="item-menu btn btn-link" href="#Plans">Start My Plan</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>