<div class="row" id="Contact">
    <div class="col-md-8 offset-md-2">
        <h2 class="title-default"><b>¡Quotation </b>Now!</h2>
        <form action="" class="row mt-5">
            <div class="form-group col-sm-5 offset-sm-1 col-md-4 offset-md-2">

                <input
                    type="text"
                    class="form-control"
                    placeholder="Name"
                    autocomplete="off"
                    data-validate-field="name"
                    name="name">
            </div>
            <div class="form-group col-sm-5 col-md-4">
                <input
                    type="email"
                    class="form-control"
                    placeholder="Mail"
                    autocomplete="off"
                    data-validate-field="email"
                    name="email">
            </div>
            <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2">
                <input
                    type="phone"
                    class="form-control"
                    placeholder="Phone"
                    autocomplete="off"
                    data-validate-field="phone"
                    name="phone">
            </div>
            <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2">
                <input
                    type="text"
                    class="form-control"
                    placeholder="Your company"
                    autocomplete="off"
                    data-validate-field="company"
                    name="company">
            </div>
            <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2">
                <textarea class="form-control" name="idea" id="idea" cols="30" rows="5" autocomplete="off"
                    data-validate-field="idea" id="idea" placeholder="Tell us your idea"></textarea>
            </div>
            <div class="form-group col-sm-12 text-center">
                <button class="btn btn-default">Start it! </button>
            </div>
        </form>
    </div>
</div>