.Header {
  background: $blueDemon;
  border-bottom: 5px solid rgba($blue, 0.5);
  padding: 15px 0;
  .menu {
    @media only screen and (min-width: 769px) {
      display: grid;
      grid-template-columns: 25% 75%;
      gap: 1rem;
    }
    #btn-menu {
      position: absolute;
      top: 0;
      right: 10px;
      font-size: 1.8em;
      @media only screen and (min-width: 769px) {
        display: none;
      }
    }
    #drop-menu {
      transition: height 0.35s ease-in-out;
      overflow: hidden;
      justify-self: end;
      @media only screen and (max-width: $size_sm) {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1;
        background: $blueDemon;
        li {
          padding: 10px 15px;
          display: block;
        }
      }
    }
    // #drop-menu:not(.active) {
    //   display: none;
    // }
    a {
      color: $white;
      img {
        width: 60px;
      }
    }
  }
}

.scroll-button {
  background-color: $white;
  border-radius: 28px;
  font-size: 1.8em;
  padding-top: 5px;
  width: 50px;
  height: 50px;
  z-index: 9999;
  position: fixed;
  right: 10px;
  top: 90%;
  text-align: center;
  &:hover {
    background-color: $blueDemon;
    transition: 0.2s cubic-bezier(0.41, 0.48, 0.85, 0.6);
  }
  &:hover > i {
    color: $white;
  }
  i {
    color: $blueDemon;
  }
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.show {
  transition: opacity 400ms;
}
.hide {
  opacity: 0;
  transition: opacity 400ms;
}