//Responsive sizes
$size_xs: 480px;
$size_sm: 768px;
$size_md: 992px;
$size_lg: 1080px;

//Colors
$black: #000;
$white: #fff;
$blue: #050b1e;
// $blueDemon: linear-gradient(to right, rgba(15,15,59,1) 0%, rgba(5,11,30,1) 100%);
// $blueLight: #0092ff;

$blueLight: #5580e9;
$blueDemon: #25274d;

//Styles
@import "./styles/header";
@import "./styles/main";
@import "./styles/footer";
@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");

* {
  color: $white;
}
body {
  background: $white;
  font-size: 16px;
  font-family: "Titillium Web", sans-serif;
}

h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1.1em;
}
p {
  font-size: 1em;
}
ul {
  list-style: none;
}
a {
  text-decoration: none !important;
}

input,
textarea {
  background-color: $blue !important;
  border-color: transparent !important;
  color: $white !important;
  &::placeholder {
    color: $white !important;
  }
  &:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 175, 233, 0.16) !important;
  }
}

.btn {
  border-radius: 10px;
  background-color: $white;
  font-weight: bold;
  &-link {
    color: $black !important;
    padding: 10px;
    width: 140px;
    transition: 0.2s cubic-bezier(0.41, 0.48, 0.85, 0.6);
    &:hover {
      background-color: transparent;
      border: 1px solid $white;
      color: $white !important;
      border-radius: 0;
    }
  }
  &-default {
    color: #0066bd !important;
    padding: 10px 30px;
    border-radius: 17px;
    box-shadow: 0 6px #0066bd;
    &:hover {
      color: #0066bd;
      background-color: $white;
      border-color: transparent !important ;
    }
    &:active {
      color: $blueLight !important;
      background-color: $white !important;
      border-color: transparent !important;
      box-shadow: 0 #04579e;
      transform: translateY(4px);
    }
  }
  &-primary {
    background-color: $blue;
    border-color: transparent;
    &:hover {
      background-color: $blueLight;
    }
  }
  &-icon {
    border: none;
    background-color: transparent;
    &:focus {
      outline: none;
    }
  }
}

.box {
  &-demon {
    background: $blueDemon;
  }
  &-light {
    background-color: $blueLight;
  }
}

.title-default {
  font-size: 1.8em;
  text-align: center;
}

.swiper {
  width: 350px;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 450px;
  @media only screen and (max-width: $size_sm) {
    width: 90%;
    margin: auto;
  }
}

.fa-check {
  color: blue;
}

.fa-edit {
  color: orange;
}

.fa-trash {
  color: red;
}

.card {
  background-color: #050b1e;
}

.file-input {
  color: transparent !important;
  width: 90px;
  margin: auto;
  margin-top: 1em;
  background-color: transparent !important;
}
.file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.file-input::before {
  content: "Agregar foto";
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.file-input:hover::before {
  border-color: black;
}
.file-input:active {
  outline: 0;
}
.file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

#todo-list li {
  cursor: pointer;
}